extends ./layout.jade

block content
    form(action="/sessions", method="post")
        div(class="row")
            div(class="col-12 form-group")
                label(for="email") E-mail
                input(type="email", name="email", id="email", class="form-control", placeholder="E-mail")
        div(class="row")
            div(class="col-12 form-group")
                label(for="password") Password
                input(type="password", name="password", id="password", class="form-control", placeholder="Password")
        div(class="row")
            div(class="col-6")
                input(type="submit", value="Login", class="btn btn-success")
            div(class="col-6 text-right")
                a(href="/signup", title="Sign up") Sign up