extends ../../layout.jade

block content
    form(action="/app/imagenes", method="post")
        h1 Upload image
        div(class="row")
            div(class="col-12 form-group")
                label(for="title") Title
                input(class="form-control", id="title", name="title", type="text", placeholder="Title of the image")
        div(class="row")
            div(class="col-12 form-group")
                label(for="file") Image
                input(class="form-control", id="file", name="file", type="file")
        div(class="row")
            div(class="col-6")
                input(class="btn btn-success", type="submit", value="Upload")